/*default css*/
:not(dialog){
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace, sans-serif;
}

body{
    display: grid;
    height: 100vh;
    justify-content: center;
    align-content: center;
    
}

dialog#get-player-names{
    text-align: center;
}

dialog#get-player-names form{
    margin-top: 10px;
    display: grid;
    justify-items: center;
    gap: 20px;
}

dialog#get-player-names form input{
   padding: 10px 20px;
   border-radius: 20px;
   font-size: 1rem;
}

dialog#get-player-names form button,
.game-board-container > button{
    padding: 10px 20px;
    width: 150px;
    background-color: black;
    color: white;
    font-weight: 900;
 }

 .game-board-container{
    display: grid;
    gap: 20px;
    justify-items: center;
    
}
 

.game-board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 500px;
    width: 500px;
    
    
}

.game-board div{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 900;
}
